{% if current_user.is_authenticated and session['visible'] %}
    {% set estilos = 'top: 0px; border-bottom: 3px solid #ffffff; background-color: #6F8A91;' %}
{% else %}
    {% set estilos = 'top: 0px;' %}
{% endif %}
<!DOCTYPE html>
<title>Ecclesi - Descarga</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon_ecclesi.jpg') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/icon.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/materialize.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/ecclesi.css') }}">
<div class=page>
    <div class="navbar-fixed navbar-ecclesi">
        <!-- Dropdown Structure -->
        <ul id="usuario" class="dropdown-content">
            <li id="front">
                <img id="img-user" src="{{ url_for('static', filename='img/' + presbitero.foto_portada) }}" alt="" class="circle responsive-img">
            </li>
            <li><a href="{{ url_for('ecclesi.usuario') }}">Perfil</a></li>
            <li class="divider"></li>
            <li><a href="/usuario/denegar">Cerrar Sesion</a></li>
        </ul>
        
        <ul id="admin" class="dropdown-content">
            {% if current_user.id_tipo_usuario == 1 %}
            <li><a href="{{ url_for('ecclesi.usuario') }}">Administrar Usuario</a></li>
            <li><a href="{{ url_for('ecclesi.zpastoral') }}">Administrar Zonas Pastorales</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('ecclesi.diocesis') }}">Administrar Diocesis</a></li>
            {% endif %}
            <li><a href="{{ url_for('ecclesi.templo') }}">Administrar Templo</a></li>
            <li><a href="{{ url_for('ecclesi.actividad') }}">Administrar Actividades</a></li>
        </ul>
      
        <nav style="{{ estilos }}">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo"><img src="{{ url_for('static', filename='img/ecclesi.svg') }}"></a>
                <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    {% if current_user.is_authenticated %}
                    <li><a class="dropdown-button" href="#!" data-activates="admin" style="padding: 0 10px;"><i class="material-icons" style="font-size: 50px;">view_module</i></a></li>
                    
                    <li><a class="dropdown-button" href="#!" data-activates="usuario" style="padding: 0 10px; height: 61px;">
                        {% if current_user.id_tipo_usuario == 1 %}
                        <i class="material-icons" style="font-size: 50px;">person_pin</i> 
                        {% else %}
                        <img src="{{ url_for('static', filename='img/' + presbitero.foto_portada ) }}" class="circle responsive-img" style="width: 55px;">
                        {% endif %}
                    </a></li>
                    {% else %}
                    <li><a class="waves-effect waves-light btn btn-inicio" href="#acceso">Iniciar Sesion</a></li>
                    {% endif %}
                </ul>
                <ul class="side-nav" id="mobile-nav">
                    {% if current_user.is_authenticated %}
                    <li><a class="dropdown-button" href="#!" data-activates="admin" style="padding: 0 10px;"><i class="material-icons" style="font-size: 50px;">view_module</i></a></li>
                    
                    <li><a class="dropdown-button" href="#!" data-activates="usuario" style="padding: 0 10px; height: 61px;">
                        {% if current_user.id_tipo_usuario == 1 %}
                        <i class="material-icons" style="font-size: 50px;">person_pin</i> 
                        {% else %}
                        <img src="{{ url_for('static', filename='img/' + presbitero.foto_portada ) }}" class="circle responsive-img" style="width: 55px;">
                        {% endif %}
                    </a></li>
                    {% else %}
                    <li><a class="waves-effect waves-light btn btn-inicio" href="#acceso">Iniciar Sesion</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    {% block body %}{% endblock %}
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/ecclesi.js') }}"></script>