{% extends "curia/layout.html" %}
{% block body %}
<div class='container'>
    <div class="row">
      <!-- CATEDRAL DE MANAGUA -->
        <h2 class="">Catedral Metropolitana de Managua</h2>
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='img/catedralnueva.jpg') }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Catedral Inmaculada Concepción de María.<i class="material-icons right">ver mas </i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><h2 class="">Catedral de Managua</h2><i class="material-icons right">Cerrar</i></span>
                    <p> Construida en el año 1991</p>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <p class="caption">
              La Catedral Metropolitana de Managua o simplemente Catedral de Managua se inició a construir en el año 1991 y finalizó en el mes de Septiembre del año 1990. Actualmente es la sede de la Arquidiócesis de Managua y está dedicada a la Inmaculada Concepción de María, patrona de Nicaragua. Se encuentra en la ciudad de Managua, capital de Nicaragua. Por esto su nombre oficial es Catedral Metropolitana Inmaculada Concepción de María.
            </p>
            <p class="caption">
La construcción en su emplazamiento actual, al sureste de la Laguna de Tiscapa, inició en 1991 ya que desde el terremoto del 23 de diciembre de 1972, la original Catedral de Santiago de Managua, conocida actualmente como Antigua Catedral de Managua y que estuvo dedicada al Apóstol Santiago, quedó semi-destruida y fuera de servicio.
            </p>
        </div>
        
        <p class="caption">
           Entre 1972 y 1993, el templo dedicado a Santo Domingo en Las Sierritas de Managua, fungió como sede del Arzobispado de Managua, que comprende los departamentos de Managua, Masaya y Carazo.
        </p>
        <p class="caption">
            Este templo, designado como catedral, ostenta el nombre de la Madre del Salvador en su advocación de la Inmaculada Concepción, y se debe principalmente a la devoción muy popular en Nicaragua a la Madre del Cielo.
        </p>
        <p class="caption">
    Fue diseñada por el arquitecto mexicano Ricardo Legorreta, quien se inspiró en la Basílica del Santo Sepulcro, de Jerusalén, Israel, para hacer las cúpulas y fue consagrada el 4 de septiembre de 1993 por el Cardenal Miguel Obando y Bravo, Arzobispo de Managua.
        </p>
        <p class="caption">
    El edificio forma un complejo catedralicio en el que se distinguen diferentes componentes arquitectónicos reseñables:catedral

El campanario o torres Las campanas,las cúpulas, el techo, la nave, las columnas, el altar, el ambón y el atril. Las puertas, el baptisterio, el Sancta sanctorum, la Capilla de la Sangre de Cristo?, la Capilla del Santísimo.
        </p>
        <p class="caption">
     <h5>Su Estructura</h5> 
Lo primero que sorprende al mirar en su conjunto el imponente edificio de la Catedral , es que no está orientada de occidente hacia oriente, sino de sur a norte. Desde la más remota antigüedad el hombre dirigía su rostro, al orar, hacia oriente. La palabra “orientación” nos dice cómo prevalecía la influencia solar en las direcciones humanas. Pero en la Catedral de Managua, la orientación no la da el astro Rey ni la geografía, ni la historia, sino el altar donde Cristo desciende para su cita con el hombre, donde se renueva su sacrificio redentor y se predica su palabra. El diseño del templo, mantiene desde todos sus ángulos la importancia y la concentración de la atención en el altar. El altar es el motivo y el eje de todo el vasto edificio. Su piedra angular.
        </p>
      <p class="caption">
     <h5>El techo: un monumento a la unidad.</h5> 
Otra originalidad que ofrece la Catedral es, en su techumbre la asamblea barroca de pequeñas cúpulas-linternas escalonadas que contrastan… en un juego o ritmo tropical de curvas… con el predominio de la línea recta y de las formas sobrias y estilizadas del resto del edificio.
        </p>
   <p class="caption">
    Es verdad que la cúpula-linterna es un elemento que tiene amplia tradición en las catedrales de América, pero en el techo de la Catedral Metropolitana de Managua, como un múltiplo de los números bíblicos 7×9, vemos sesenta y tres cúpulas con linternas que vienen a ser la representación simbólica de todas las parroquias de la Arquidiócesis , en un nuevo concepto de comunidad eclesial, pero con la autoridad sobresaliendo en el centro simbolizando al Obispo, como sucesor de los Apóstoles y supremo responsable de la unidad católica de esta Iglesia. La Catedral es vista por fuera, como una inmensa estatua de las Iglesias unidas en la solidaridad y hermandad de un solo espíritu y bajo el cayado de un solo pastor.
        </p>
<!--Ingreso a la catedral -->

        <div class="col s12 m7">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='img/catedralm.jpg') }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Catedral Inmaculada Concepción de María.<i class="material-icons right">ver mas </i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><h2 class="">Catedral de Managua</h2><i class="material-icons right">Cerrar</i></span>
                    <p> </p>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <p class="caption">
        <h5>Ingreso a la Catedral</h5>

Para ingresar a nuestro templo madre, encontramos una doble entrada: Física y Espiritual. Ambas entradas están en el costado sur. Y así vemos en el centro la gran puerta de seis metros de alto que nos ofrece grabada en relieve con la mayor complicidad y majestad, una Cruz, el signo del Gran Rey, el signo que contiene en síntesis todo el credo del cristiano. La Cruz es la puerta y la llave de la puerta. Al lado derecho de ésta tenemos otra puerta pequeña, también de ingreso a la nave central.
            </p>
        </div>
            
En la parte extrema derecha, en el mismo costado sur, hay otra puerta, “ La Puerta Santa ”, inaugurada el 4 de septiembre del 2007, iniciando un Año Santo, para conmemorar los 15 años de nuestra Iglesia Catedral (4 de septiembre del 2008), por allí se penetra en espíritu y verdad a la Iglesia de Cristo: es el domo del Baptisterio: una gran roca de mármol nicaragüense, con una pequeña pileta, cavada y pulida en su cima, recoge el agua para los bautismos.
            </p>
            <p class="caption">
La construcción en su emplazamiento actual, al sureste de la Laguna de Tiscapa, inició en 1991 ya que desde el terremoto del 23 de diciembre de 1972, la original Catedral de Santiago de Managua, conocida actualmente como Antigua Catedral de Managua y que estuvo dedicada al Apóstol Santiago, quedó semi-destruida y fuera de servicio.
            </p>
       
        
        <p class="caption">
           Entre 1972 y 1993, el templo dedicado a Santo Domingo en Las Sierritas de Managua, fungió como sede del Arzobispado de Managua, que comprende los departamentos de Managua, Masaya y Carazo.
        </p>
        <p class="caption">
            Este templo, designado como catedral, ostenta el nombre de la Madre del Salvador en su advocación de la Inmaculada Concepción, y se debe principalmente a la devoción muy popular en Nicaragua a la Madre del Cielo.
        </p>
        <p class="caption">
    Fue diseñada por el arquitecto mexicano Ricardo Legorreta, quien se inspiró en la Basílica del Santo Sepulcro, de Jerusalén, Israel, para hacer las cúpulas y fue consagrada el 4 de septiembre de 1993 por el Cardenal Miguel Obando y Bravo, Arzobispo de Managua.
        </p>
        <p class="caption">
    El edificio forma un complejo catedralicio en el que se distinguen diferentes componentes arquitectónicos reseñables:catedral

El campanario o torres Las campanas,las cúpulas, el techo, la nave, las columnas, el altar, el ambón y el atril. Las puertas, el baptisterio, el Sancta sanctorum, la Capilla de la Sangre de Cristo?, la Capilla del Santísimo.
        </p>
        <p class="caption">
     <h5>Su Estructura</h5> 
Lo primero que sorprende al mirar en su conjunto el imponente edificio de la Catedral , es que no está orientada de occidente hacia oriente, sino de sur a norte. Desde la más remota antigüedad el hombre dirigía su rostro, al orar, hacia oriente. La palabra “orientación” nos dice cómo prevalecía la influencia solar en las direcciones humanas. Pero en la Catedral de Managua, la orientación no la da el astro Rey ni la geografía, ni la historia, sino el altar donde Cristo desciende para su cita con el hombre, donde se renueva su sacrificio redentor y se predica su palabra. El diseño del templo, mantiene desde todos sus ángulos la importancia y la concentración de la atención en el altar. El altar es el motivo y el eje de todo el vasto edificio. Su piedra angular.
        </p>
      <p class="caption">
     <h5>El techo: un monumento a la unidad.</h5> 
Otra originalidad que ofrece la Catedral es, en su techumbre la asamblea barroca de pequeñas cúpulas-linternas escalonadas que contrastan… en un juego o ritmo tropical de curvas… con el predominio de la línea recta y de las formas sobrias y estilizadas del resto del edificio.
        </p>
   <p class="caption">
    Es verdad que la cúpula-linterna es un elemento que tiene amplia tradición en las catedrales de América, pero en el techo de la Catedral Metropolitana de Managua, como un múltiplo de los números bíblicos 7×9, vemos sesenta y tres cúpulas con linternas que vienen a ser la representación simbólica de todas las parroquias de la Arquidiócesis , en un nuevo concepto de comunidad eclesial, pero con la autoridad sobresaliendo en el centro simbolizando al Obispo, como sucesor de los Apóstoles y supremo responsable de la unidad católica de esta Iglesia. La Catedral es vista por fuera, como una inmensa estatua de las Iglesias unidas en la solidaridad y hermandad de un solo espíritu y bajo el cayado de un solo pastor.
        </p>
<p class="caption">
    Es verdad que la cúpula-linterna es un elemento que tiene amplia tradición en las catedrales de América, pero en el techo de la Catedral Metropolitana de Managua, como un múltiplo de los números bíblicos 7×9, vemos sesenta y tres cúpulas con linternas que vienen a ser la representación simbólica de todas las parroquias de la Arquidiócesis , en un nuevo concepto de comunidad eclesial, pero con la autoridad sobresaliendo en el centro simbolizando al Obispo, como sucesor de los Apóstoles y supremo responsable de la unidad católica de esta Iglesia. La Catedral es vista por fuera, como una inmensa estatua de las Iglesias unidas en la solidaridad y hermandad de un solo espíritu y bajo el cayado de un solo pastor.
        </p>

  <!-- entrada de la catedral -->
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='img/004.jpg') }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">foto tomada de la entreda de la catedral hacia el presbiterio<i class="material-icons right">ver mas </i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><br/><i class="material-icons right">Cerrar</i></span>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <p class="caption">
                <h5>La nave central y el Presbiterio</h5>
                Al traspasar la gran puerta de madera, se abre ante nosotros un impresionante espacio de 9.5 a 24 metros de alto, 35 metros de ancho y 45 metros de largo, apoya en cuatro columnas centras, que significan los cuatro evangelistas y que tiene una novedosa estructura en cruz. Las cúpulas escalonadas, que miramos desde fuera en sorprendente juego de curvas, se han convertido adentro en 63 linternas de luz solar.
            </p>
            <p class="caption">
Con esa luz difuminada, propia para el recogimiento y la oración, vemos y sentimos que todas las líneas y ángulos de ese solemne espacio nos llevan al Norte místico de la Iglesia , el presbiterio, allí está el Altar, el corazón de nuestro templo en donde ofrecemos el Sacrificio único de Cristo, éste es simétrico en que se unen las dos ideas: altar y mesa.
            </p>
        </div>
        
        <p class="caption">
          A la derecha del presbiterio encontramos el Ambón, lugar para la proclamación de la Palabra de Dios como también para la predicación. Al lado izquierdo encontramos el Atril, lugar propio de las moniciones, dirección de la participación de la comunidad y también para dar los avisos necesarios.
        </p>
        <p class="caption">
           El Presbiterio es un hermoso ábside que respalda, cubre y enmarca este sitio sagrado. Es una cúpula cortada en semicírculo, en cuya base, encontramos la Sede Arzobispal , con seis sillas a cada lado para los concelebrantes, significando a los doce apóstoles, a ellas se llega a través de tres gradas que simbolizan la Fe , Esperanza y Caridad.
        </p>
  <p class="caption">
La preeminencia del altar, como en el Calvario, nos muestra a su diestra sobre un sencillo y sobrio pedestal la imagen de María, Patrona de nuestra Catedral: La Purísima Concepción.
        </p>
  
<!-- capilla del Santisimo  -->
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='img/DSC_4285.jpg') }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Capilla del Santisimo<i class="material-icons right">ver mas </i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Capillas del Santísimo y de la Sangre de Cristo<br/><i class="material-icons right">Cerrar</i></span>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <p class="caption">
                <h5>Capillas del Santísimo y de la Sangre de Cristo</h5>
               En el costado occidental (ángulo norte), esta la capilla del Santísima Sacramento, donde un ventanal de veintiocho celosías triangulares recoge y orienta la luz hacia el Sagrario. Allí también, una gran Cruz de Luz, recortada en la pared del fondo, señala el rumbo y el credo de nuestra Iglesia Católica.
            </p>
            <p class="caption">
Saliendo de la capilla, en su costado occidental, encontramos los Confesionarios, quienes en el silencio de sus arcos símbolos del arrepentimiento y la penitencia necesarios para que brille en el hombre el sol de justicia.
            </p>
        </div>        
        <p class="caption">
          Un ancho arco propio para grandes peregrinaciones es el pasaje de color rojo como quien llega al ocaso que nos introduce a una perfecta cúpula, también roja, tachonada de luces como un cielo estrellado. La cúpula cubre e ilumina la mas venerada imagen del pueblo capitalino: el Señor Crucificado que sus devotos llaman con un nombre que es una de las exclamaciones de su fe: ¡ la Sangre de Cristo!
        </p>
        <p class="caption">
           Siete gradas redondas sirven de peaña a la Cruz , símbolo de los Siete Sacramentos.
        </p>

  <!-- el atrio  -->
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='img/010.jpg') }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">El atrio <i class="material-icons right">ver mas </i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">El atrio y sus alrededores<br/><i class="material-icons right">Cerrar</i></span>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <p class="caption">
                <h5>El Atrio</h5>
              Visto desde lejos el gran templo… con su asamblea de cúpulas y alta torre erguida… luce austero,010 humano, con la sobriedad del nicaragüense y su religiosidad alegre. Rodeado de árboles y palmeras surge equidistante de una gran rotonda, que expresa el movimiento acelerado de la vida ciudadana, y de un volcán con su laguna… el único volcán urbano del mundo… que nos recuerda la peligrosa naturaleza que sirve de escenario a la vida del nicaragüense. Entre la agitación del mundo y la agitación de la tierra, la Catedral levanta confiada su tienda para que los peregrinos de la historia, o como reza la salve: “los desterrado hijos de Eva”, encuentren a su sombra la esperanza, alimenten su caridad y fortalezcan su fe para llegar victoriosos a la meta.
            </p>
            
        </div>  
    </div> 
</div>
{% endblock %}