{% extends "curia/layout.html" %}
{% block body %}
<div class='container'>
    <div class="row">
     <!-- santuario -->
        <h3>Santuario Arquidiocesano<br>Nuestra Señora de Lourdes</h3>
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='img/lourdes.jpg') }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Nuestra Señora de Lourdes <i class="material-icons right">ver mas </i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Santuario Arquidiocesano<br/><i class="material-icons right">Cerrar</i></span>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <p class="caption">
La Basílica Pontificia de Santa María la Mayor, primer templo dedicado a la Santísima Madre de Dios, alabanza y gloria del Concilio de Éfeso, estableció un VINCULO ESPIRITUAL DE AFINIDAD con nuestro Santuario Mariano “Nuestra Señora de Lourdes” el 19 de Noviembre de 2009.
            </p>
             <p class="caption">
Nuestro Santuario Mariano ha sido inscrito en los libros de la Basílica con el documento de la Penitenciaría Apostólica por las que son concedidas indulgencias.
            </p>
        </div>
             <p class="caption">
<h5>EXTRACTO DE LA CARTA DE LA PENITENCIARÍA APOSTÓLICA</h5>
            (…) Día 19 de Noviembre de 2009. La Penitenciaría Apostólica por las facultades especiales otorgadas por el Romano Pontífice y por las súplicas libremente elevadas concede la INDULGENCIA PLENARIA bajo las acostumbradas condiciones: la confesiónsacramental, la comunión eucarística, y oraciones por el Romano Pontífice. Esta indulgencia se concede a los fieles que verdaderamente penitentes acudan al Santuario de Ntra. Sra. de Lourdes, lucrándolas si asisten a una piadosa función sagrada y rezan el Padre Nuestro y el Credo, en las siguientes ocasiones:<br><br>
        
 a) En la fiesta titular de la Basílica de Sta. María la Mayor (5 de Agosto)<br><br>
b) En la fiesta titular del mismo santuario<br><br>
c) En las solemnidades litúrgicas de la Bienaventurada Virgen María<br><br>
d) Cada año, en el día que el fiel libremente escoja<br><br>
e) Cada vez que con devoción los fieles fueran en peregrinación<br><br>
*Todo lo anterior tiene una validez perpetua y sea omitida toda cosa en contrario.<br>
Por mandato del Excelentísimo Arzobispo Penitenciario Mayor Juan Francisco Girotti<br>
(firma Juan Francisco Girotti, O.F.M. Conv.)<br>
        Obispo Titular de Meten, Regente<br>
Juan María Gervais<br>
Rector: Pbro. Camilo José Díaz Acuña<br>
Dirección: Donde fue la casa de retiro Gruta Xavier, Km. 9 ½ de la carretera nueva a León, 1 Km. al este. ?Tel: (505)2269 0312 ?Celular: (505) 8860 8459 <br><br>web: www.santuariodelourdesnicaragua.org<br><br> 
        </p>
    
         
        
        
        <!-- seminario menor -->
        
        <h3>Santuario Cristologico<br>Nuestro Señor de Esquipulas</h3>
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='img/esquipulas.jpg') }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Nuestro Señor de Esquipulas <i class="material-icons right">ver mas </i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Santuario<br/><i class="material-icons right">Cerrar</i></span>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <p class="caption">
(LA CONQUISTA, CARAZO)<br>
Dirección: Costado Sureste, Frente al Parque Central,<br>
La Conquista.<br>
Tel.: 2552 5646<br>
    </div>
    </div>  
</div>
{% endblock %}