{% extends "curia/layout.html" %}
{% block body %}
<div class='container'>
    <div class="row">
     <!-- seminario la purisima -->
        <h3>Seminario Mayor Arquidiocesano<br>La Purisima</h3>
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='img/sempurisima2.jpg') }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">La Purisima <i class="material-icons right">ver mas </i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Seminario La Purisima<br/><i class="material-icons right">Cerrar</i></span>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <p class="caption">
Rector:Pbro. Helio Cortéssempurisima<br><br>

Prefecto de Teología:Pbro. Boanerges Hurtado<br><br>

Prefecto de Filosofía y Económo:Pbro. Emigdio Uriarte<br><br>

Director Propedéutico: Pbro. Eliseo Vargas<br><br>

Director Espiritual:Pbro. Pedro Vado<br><br>

Dirección: Km. 12 ½ Carretera Sur<br><br>

Teléfono: (505)2265-8729 / (505) 2265-8428 /(505)2265-8458 / (505)2265-8508<br><br>

Fax: 2265-8452<br><br>

Apartado Postal J-75 Managua, Nicaragua<br><br>

https://www.facebook.com/seminarioarquidiocesano.lapurisima<br><br><br><br>
            </p>
            
        </div>  
        
        
        <!-- seminario menor -->
        
        <h3>Seminario Menor<br>Nuestra Señora de la Asunción</h3>
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='img/semmenor.jpg') }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Nuestra Señora de la Asunción <i class="material-icons right">ver mas </i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Seminario Menor Diocesano<br/><i class="material-icons right">Cerrar</i></span>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <p class="caption">
Rector: Pbro. Yedrís Calero Garcíasemmenor<br><br>

Prefecto de Disciplina:         <br><br>

Dirección: Km. 8 ½ Carretera Sur, entrada a Ticomo 300 mts. al oeste<br><br>

Teléfonos: (505) 2265-1795 / (505)2265-1789<br><br>

WEB: https://www.facebook.com/seminariomenorarquidiocesano.laasuncion<br><br>
<br><br><br><br><br><br><br><br>

            </p>
            
        </div>  
        
        <br><br><br><br>
         <!-- seminario interdiocesano -->
        
        <h3>Seminario Interdiocesano Nacional<br>Nuestra Señora de Fatíma</h3>
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='img/.jpg') }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Nuestra Señora de la Asunción <i class="material-icons right">ver mas </i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Seminario Menor Diocesano<br/><i class="material-icons right">Cerrar</i></span>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <p class="caption">
Rector: Pbro. César Castillo<br><br>
Dirección: Km. 5, Carretera Sur.<br><br>
Teléfono: (505) 2266-2252<br><br>
Apdo. Postal:  888<br><br>
WEB: www.seminariodefatima.org.ni<br><br>
https://www.facebook.com/seminarionacionalfatima<br><br>
Managua, Nicaragua<br><br>
<br><br><br><br><br><br><br><br>
            </p>            
        </div>  
      
        <!-- seminario misionero arquidiocesano -->
        
        <h3>Seminario Misionero Arquidiocesano<br>Redemptoris Mater Nuestra Señora de Guadalupe</h3>
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='img/.jpg') }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Redemptoris Mater <i class="material-icons right">ver mas </i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Nuestra Señora de Guadalupe<br/><i class="material-icons right">Cerrar</i></span>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <p class="caption">
Rector: Pbro. Paolo Pronzato (Padre Pino)<br><br>
Vice- Rector: Pbro. Jairo Rodríguez<br><br>
Prefecto de Estudios: Pbro. Dennis Patricio Osejo Altamirano, Diác. Miguel Ángel Pérez<br><br>
Dirección: Carretera Sur, Intersección Pista Sub-urbana 1 Km. al este, 400 mts. al norte, Lomas de San Judas.<br><br>
Teléfono: (505)2260-2664 – 66, (505)2260-2669<br><br>
Fax: (505)2260-2667<br><br>
e-mail: srm.managua@gmail.com<br><br>
WEB: http://www.srmni.com<br><br>
            </p>            
        </div>
    </div>  
</div>
{% endblock %}