{% extends "curia/layout.html" %}
{% block body %}
<div id="contenido" class='container'>
    <div class="row">
        <!-- seminario misionero arquidiocesano -->
        
        <h3>Vicaría Pastoral<br>Reliquia de Juan pablo II</h3>
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='img/Conferencia de prensa.jpg') }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Vicario Pastoral <i class="material-icons right">ver mas </i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">P.Boanerges Carballo<br/><i class="material-icons right">Cerrar</i></span>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <p class="caption">
Reliquia: del Latín reliquae.. Restos.<br><br>

Las reliquias pertenecen a lo que la doctrina católica llama “sacramentales” es decir signos instituidos por la Iglesia que preparan o disponen al creyente a recibir y expresar la gracia que Dios nos da por medio de Jesucristo.<br><br>

La doctrina católica considera Reliquias a las partes de los cuerpos de los santos u otros objetos relacionados directamente con ellos, como una ayuda para entrar en contacto con Dios a través de hombres y mujeres que se dejaron transformar por la gracia y alcanzaron así el don de la salvación en Cristo. Esos hombres y mujeres son ahora intercesores, se unen a la oración de Cristo al Padre en favor de sus hermanos.
La reliquia de la sangre aun sin coagular de San Juan Pablo II llegará a Nicaragua, para ser venerada en la Catedral Metropolitana de Managua; el próximo 12 de mayo, estará expuesta para la veneración de los fieles la sangre del Papa Peregrino de la Paz, desde las 8 de la mañana hasta las 8 de la noche. Cada persona podrá acercarse para venerar la reliquia y se le entregara una estampa que podrá pasar sobre la reliquia. La jornada de “veneración y oración” que es organizada por el Apostolado de las Siervas de los Corazones Traspasados de Jesús y Maria en coordinación con la Arquidiócesis de Managua por medio de la Vicaria Episcopal de Pastoral, iniciara a las 8 de la mañana con la celebración de la Santa Misa, presidida por el Presbítero Boanerges Carballo Madrigal, Vicario Episcopal de Pastoral.<br><br>

Durante la mañana participaran diferentes delegaciones de colegios católicos de Managua, Masaya y Carazo.<br><br>

Las personas de la tercera edad o enfermos tendrán un acceso especial durante la jornada.<br><br>

En la programación de este encuentro con la reliquia de San Juan Pablo se espera la intervención de Mons. Silvio José Báez, Obispo Auxiliar de la Arquidiócesis de Managua, quien presidirá la Santa Misa a las 12:00 del mediodía.<br><br>


            </p>            
        </div>
    </div>  
</div>
{% endblock %}