{% extends "curia/layout.html" %}
{% block body %}
<div class='container'>
    <div class="row">
        <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">BELLA  CRUZ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                                   P.Oswald Reyneri Ramírez<br><br>
Dirección:        Ciudad Sandino, De la Plaza Padre Miguel 5c. al sur, 1c. al este<br><br>
Teléfono:                                  (505) 2269-6601<br><br>
Web:<br><br>
Sectores           Ciudad Sandino Zona I, VII y VIII, Santa María de Valvanera, Oro Verde, Tangará, Villa Soberana, Santa Eduviges, La Isla.<br><br>        
                </p></td><br><br>            
          </tr>  
        </tbody>
      </table>
  
        <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">CRISTO  AGONIZANTE  DEL  ROSARIO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Aureliano O´Dowd<br><br>
Dirección:        Donde fue Cine Blanco, 2c. al este, 2c. al norte<br><br>
Teléfono:          (505) 2266-3015<br><br>
Web:<br><br>
Capillas:           San Sebastián, San Antonio.<br><br>
Sectores:          Bo. Cristo del Rosario, Capilla Bo. San Antonio, Capilla Bo. San Sebastián, Bo. San José, Bo. San Jacinto, Rpto. Manchester. <br><br>
                </p></td><br><br>            
          </tr>  
        </tbody>
      </table>
        
        
           <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">LA PURÍSIMA CONCEPCION </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Gerardo Rodríguez Pérez.<br><br>
Dirección:        Casa Cural Belmonte Del Hospital Velez Páiz 2½ c. al este.<br><br>
Teléfono:          (505) 2265-3536<br><br>
Email:               purisima.concepcion08@gmail.com<br><br>
Capillas:<br><br>
Sectores:          Belmonte, Ticomo, San Patricio, Las Piedrecitas, Tierra Prometida, Motastepe, Ayapal, Mirna Ugarte, 7 Sur, Enrique Smith y Arges Sequeira.<br><br>
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
        
         <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">MADRE    DEL   DIVINO   PASTOR</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Jhalder Hernández Avellán<br><br> 
Vicario:                       P. Jorge Rache Cely<br><br> 
Dirección:                    Casa Cural Nejapa Km. 9 ½ Carretera Vieja a León 3 km. al norte, Managua .<br><br> 
Teléfono:                      (505) 2271 2942<br><br> 
Email:               parroquiamdp@yahoo.com<br><br> 
Capillas:<br><br> 
Sectores:          Nejapa, Cuajachillo, Filos de Cuajachillo, Chiquilistagua, Bo. Solano, Cedro Galán, Monteverde.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
        
          <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">MARIA    INMACULADA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:           P.Uriel Sandi Gutiérrez.<br><br> 
Dirección:        De la Escuela María Mazzarello, 2c. al sur y ½  al este, Bo. Altagracia Norte Col. San Martín.<br><br> 
Teléfono:                      (505) 2266 4767<br><br> 
Capillas:<br><br> 
Sectores:          Bo. Altagracia Norte, Col. San Martín, Bo. San Ignacio.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
  
          <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">MARÍA REINA DE LA PAZ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. José Guillermo Martínez Suárez<br><br> 
Vicario:                        <br><br> 
Dirección:                    Bo. Batahola Sur, De Aldeas S.O.S. 2c. al oeste y 2c. al sur<br><br> 
Teléfono:                   (505) 2268 1745<br><br> 
Web:<br><br> 
Sectores:                      Batahola Sur, Anexo Batahola Sur, Llamas del Bosque, Bo. Daniel Chavarría, Templo María Reina de las Gracias: Bo. Nora Astorga, Asentamiento Bóer, San Ignacio, Sta. Ana Sur. <br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
        
         <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">MONTE   TABOR</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       Fray Yader José Salmerón Silva<br><br> 
Vicario:                        Fray César Augusto Vasconcelos<br><br> 
Dirección:                    Km. 13 ½ carretera Sur<br><br> 
Teléfono:                   (505) 2265 8285 (oficina)<br><br> 
(505) 2265 8596 (casa cural)<br><br> 
e-mail:              oficina@sanantoniodemonte.org<br><br> 
Sectores:                      San José de la Cañada, San Francisco del  Apante, Concepción de María, Asentamiento Barrio H. Sánchez, Asentamiento km.16 y 17, Barrio Los Solises, Barrio los Ortices y Barrio Espinoza,Comunidad de la Media Luna(6), Chichihaultepec, Hidalgos, Jaguas, Berlín, El Tigre,El Reventón.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
        
         <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">NUESTRA   SEÑORA   DE   ALTAGRACIA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P.  Gonzalo Rodríguez Pinell (Vicario Foráneo).<br><br> 
P. Antonio Escribano Curado<br><br> 
Dirección:                     De la gasolinera Nemesio Porras (antigua) 1c. al oeste y 1 ½ c. al norte, Bo. Altagracia.<br><br> 
Teléfono:                      (505) 2266 0709<br><br> 
Capillas:<br><br> 
Sectores:                      Bo. Altagracia (parte sur), Bo. Andrés Castro, Bo. Chino, Recreo Norte y Sur, Bo. René Cisnero, Plaza España (asentamiento).<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
  
          <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">NUESTRA   SEÑORA   DE   FATIMA  (EL SALTO)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P.  Miguel de Jesús Toruño<br><br> 
Dirección:                    El Salto, San Rafael del Sur.<br><br> 
Teléfono:                   (505) 2293 3807<br><br> 
Web:<br><br> 
Capillas:<br><br> 
Sectores:                      El Salto (sede), San Pablo, San Cristóbal, San José de la Montaña, Gutiérrez Sur, El Manzano, Casa de Tejas, Los Larios, Santa Rita, Los Rizos, Chilamatillo.   <br><br> 

.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
        
         <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">NUESTRA SEÑORA DE GUADALUPE / CORAZÓN DE MARÍA  (LAS PALMAS)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Silvio Javier Martínez Hernández, cmf.<br><br> 
Dirección:                    De Clínica Las Palmas 1 ½ c. al oeste.<br><br> 
Teléfono:                   (505) 2266 1937 (oficina)<br><br> 
(505) 2268 2356 (casa)<br><br> 
e-mail:              iglesialaspalmas@yahoo.com<br><br> 
Sectores:                      Sector Las Palmas, Sector Guadalupe (De entrada al cementerio 1 ½ c. al sur).  
<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
        
        </table>
        
         <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">NUESTRA   SEÑORA   DE   LA   MERCED   (MATEARE)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Carlos Aguirre<br><br>
Dirección:                    Casa Cural (Frente al parque) Mateare<br><br>
Teléfono:                   (505) 2269 4374<br><br>
e-mail:              iglesialaspalmas@yahoo.com<br><br>
Sectores:                      San Andrés de la Palanca, Los Brasiles, Comarca Alfonso González, San Francisco, La Ceiba, Las Latas, Las Lajas, Las Yucas, Xiloá y otras.<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
    
    </table>
        
         <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">NUESTRA   SEÑORA   DE  LAS   VICTORIAS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Gerardo Eduardo Miranda<br><br>  
Dirección:                    El Crucero, Km. 24 Carretera Sur.<br><br>  
Teléfono:                   (505) 2291 2398<br><br>  
e-mail:              iglesialaspalmas@yahoo.com<br><br> 
Sectores:                      El Dulce Nombre, San Pedro de los Molinas, Fátima (Los Fierros), San Antonio, San José (Los Chocoyos), Santa Ana, Santa Julia, San Jerónimo, San José de las Pilas, Corazón de Jesús, San Miguel Arcángel, Nuestra Señora de Candelaria.<br><br> 
<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

 <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">NUESTRA SEÑORA DE LOS DESAMPARADOS (SAN RAFAEL DEL SUR)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Oscar Zapata
Dirección:                    Frente al Parque Central, San Rafael del Sur.<br><br> 
Teléfono:                   (505) 2293 3201<br><br> 
Web:                              www.mariamparo.net<br><br> 
Sectores:                      Capilla San José (Km. 54, Carretera a Masachapa), Capilla Sagrado Corazón de Jesús (Portillo, Carretera a Masachapa), Capilla Sangre de Cristo (Sánchez Norte), Capilla Santo Domingo de Guzmán (Gutiérrez Norte).<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

 <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">NUESTRA SEÑORA DEL CARMEN (VILLA EL CARMEN)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Wilfredo Medrano<br><br> 
Dirección:        Km. 41.5 Carretera a Montelimar, 1Km. al este, Villa El Carmen.<br><br> 
Teléfono:                   (505) 2291 2418<br><br> 
Web:<br><br> 
Sectores:                      Villa El Carmen (casco urbano), California (Santa Teresita), San Diego, La Ceiba, Montefresco (San José), El Apante, Aduana I y II, El Brasil, Samaria (San Pablo), Buenos Aires (San Francisco de Asís), Abraham Sequeira (Nuestra Señora de Fátima), San Jerónimo, Santa Rita.<br><br> 

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">NUESTRA SEÑORA DEL PERPETUO SOCORRO (MASACHAPA)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:          P. Jerry Gutiérrez <br><br> 
Dirección:        San Rafael del Sur, Masachapa, fte. al parque central.<br><br> 
Teléfono:         (505) 8431 8236<br><br> 
Web:<br><br> 
Sectores:          Pochomil, San Pedro, San Cayetano, La Gallina, San Bartolo, Quizala.<br><br> 

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">NUESTRA   SEÑORA   DEL   PILAR</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:          P. Horacio Matus<br><br> 
Vicario:<br><br> 
Dirección:        Bo. El Pilar, Del Zumen 2c. al sur, 3c. al este, mano izquierda.<br><br> 
Teléfono:         (505) 2260 0215<br><br> 
Web:                             <br><br> 
Sectores:         I y II Etapa de Hialeah (San José), III Etapa de Hialeah (Divino Niño), Carolina Sur (Ma. Auxiliadora), La Esperanza (Santiago Apóstol), IV Etapa de Hialeah, Memorial Sandino (Mons. Oscar Romero), Colonia del Periodista.<br><br> 

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SAGRADO   CORAZON   DE   JESUS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:          P. Sebastián Zeledón Zeledón<br><br>
Dirección:        Estatua Mons. Lezcano 1c. al sur.<br><br>
Teléfono:         (505) 2268 2439<br><br>
Sectores:         Hospital Dermatológico, Batahola Norte.<br><br> 

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SAN   FRANCISCO   JAVIER</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:          P. Jairo Velázquez<br><br>
Dirección:        De la Alcaldía de Ciudad Sandino 2c. al este.<br><br>
Teléfono:         (505) 2269 0047<br><br>
Web:                 <br><br>
Sectores:         Zonas de Ciudad Sandino (II, III, IV, y XI).<br><br> 

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SAN   IGNACIO   DE   LOYOLA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:          P. Hans Bendixen<br><br> 
Dirección:        Del Puente Bello Amanecer 3c. al norte, 1c. al oeste.<br><br> 
Teléfono:         (505) 2269 7557<br><br> 
Web:              <br><br>    
Capillas:<br><br> 
Sectores:                      Satélite Asososca I y II, Colonia Alemana, Bello Amanecer I, II, III y Anexo, Motastepe, Vista Hermosa.<br><br> 

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SAN    JUDAS   TADEO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:          P. Julio Arana<br><br> 
Vicario:          P. Luis Andrés Maya<br><br> 
Dirección:        Bo. San Judas Tadeo, Ceibo 1c. al sur, 1 ½ c. al oeste.<br><br> 
Teléfono:         (505) 2260 3201<br><br> 
e-mail:           boletinsanjudas@yahoo.com<br><br> 
Sectores:         Lomas de San Judas, Vista Hermosa, Martín Luther King.<br><br> 




<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SAN   MARTIN   DE   PORRES</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:          P. Pedro Marcell<br><br> 
Dirección:        Iglesia San José.  De la Alcaldía 4c. al norte, 2 ½ al oeste.<br><br> 
Teléfono:         (505) 2269 0620<br><br> 
Web:              <br><br> 
Sectores:         Zona V y VI de Ciudad Sandino, Nueva Vida, Comarca La Trinidad, Comarca Planes de Cuajachillo.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SAN  MIGUEL   ARCANGEL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:        Mons. Ismael Serrano Gudiel<br><br> 
Vicarios:       P. Hernán Bernabé Miranda Salmerón<br><br> 
                P. Jenner Castro<br><br> 
Dirección:      De los Semáforos de Linda Vista 1 ½ c.  al oeste.<br><br> 
Teléfono:       (505) 2268 1916 (oficina)<br><br> 
                (505) 2266 8202 (casa cural)<br><br> 
Web:                 
Sectores:       Linda Vista Norte y Sur, Las Brisas, Valle Dorado, Los Arcos, Loma Verde, Bo. Juan Emilio Nerocal o Sector Seminario, Bo. Carlos Nuñez.<br><br> 

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SANTA ANA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:          P.  Orestes Fonte Valle
Dirección:        Bo. Santa Ana, Del Arbolito 2c. al oeste.
Teléfono:         (505) 2222 7973             
Web:                 
Sectores:         Bo. Santa Ana, Bo. Cuba, Bo. Acahualinca, La Chureca.<br><br>  

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">  SANTA GEMA GALGANI</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:          P.  Félix Pedro José Reyes Moreno<br><br>
Vicario:          P. Miguel Ángel Godoy<br><br>
Dirección:        De los Semáforos Linda Vista, 1c. al este, 1c. al norte y 1c. al oeste, Colonia Morazán A-82.<br><br>
Teléfono:         (505) 2254 5879     <br><br>
Web:              www.pjsantagema.org<br><br>
Sectores:         Colonia Morazán, Bo. Rubén Darío, Bo. Rafael Ángel Ríos.<br><br>  

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SANTA    MARIA   DE   GUADALUPE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:          P.  Javier Reyes Treminio<br><br>  
Dirección:        Bo. Loma Linda (frente a la Escuela Cuba).<br><br>  
Teléfono:         (505) 2260 3297<br><br>  
Sectores:         Comarca San Isidro de Bolas, Comarca San José de Pochocuape, Bo. Camilo Ortega, Sta. María de las Colinas.<br><br>  

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SANTA TERESITA DEL NIÑO JESÚS (VICARÍA PARROQUIAL)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Vicario parroquial:   P.  Santos Alberto Morales.<br><br> 
                      P. Giancarlo Riocci<br><br> 
Dirección:            Km. 29 Carretera Vieja a León, Reparto Los Cedros, Villa El Carmen (Del Km. 29, 1c. al norte, 1 c. al este y ½ c. al norte).<br><br> 
Casa Cural:           Del Km. 29, 1 c. al norte, 2 c. al este.<br><br> 
Teléfono:             (505) 8657 5328, 8981 5273<br><br> 
Sectores:              Los Cedros, Los Andes, Cuajachillo, El Arroyo, Valle de los Aburtos, Nandayosi I y II, San Antonio, El Caimito, Santa Marta del Carao, Soledad, Santa Bárbara, Reyes Norte y Sur.<br><br>  

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

    </div>  
</div>
{% endblock %}