{% extends "curia/layout.html" %}
{% block body %}
<div class='container'>
    <div class="row">
        <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">CATEDRAL METROPOLITANA INMACULADA CONCEPCION DE MARIA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       Cardenal Leopoldo José Brenes Solórzano.<br><br>
 Vicarios:                     P. Julio Santos Dávila (Rector), P. Carlos Handall y P. Leonel Alberto Alfaro <br><br>
Dirección:                  Reparto Serrano, Costado sur DGI<br><br>
Teléfonos:                 (505) 2278 4223 - 2278 4232 (oficina)<br><br>
                                       (505) 2278 4030 (casa cural)<br><br>
Capillas:                   Cristo Rey (De la Consagración de Cristo rey), Capillas de las Hermanas Josefinas (Propiedad de las Hermas Josefinas).<br><br>        
Sectores:                      Reparto Serrano, Bo. Jorge Dimitrov</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
  
        <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">CRISTO REY </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Juan Carlos Romero Lezama.  <br><br>
Dirección:                    Reparto Schick II Etapa, del Chaparral 1c. al norte y 1c. al oeste.<br><br>
Teléfono:                      (505) 2289 3911<br><br>
Capillas:           Nuestra Señora del Carmen, Sede Parroquial Cristo Rey, Inmaculado Corazón de María, La Resurrección, Capilla San José, Capilla Santa Teresita.<br><br>
Sectores:          1ª Etapa, 2ª Etapa: Ángel Valentino, Bo. René Polanco, 4ta Etapa: Bo. Eduardo Contreras, Bo. Milagro de Dios.</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
        
        
           <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">EL   CALVARIO </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Milton Douglas Tobías Molina.    <br><br>
Dirección:        Bo. Los Ángeles, Managua Costado sur donde fue la Shell. (Mercado Orienta).<br><br>
Teléfono:                      (505) 2248 1600<br><br>
Web:<br><br>
Capillas:           Perpetuo Socorro.<br><br>
Sectores:          Bo. Los Ángeles, Quinta Nina, Mercado Oriental, Barrio La Aduana, Santos Espinales, Chico Pelón, Bo. 21 de febrero y la Mecatera.

</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
        
         <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">EL CRISTO DE LAS COLINAS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       Mons. Carlos Avilés Cantón.<br><br> 
Vicario:                        P. David López<br><br> 
Dirección:                    Residencial las Colinas, esquina de las calles<br><br> 
“Paseo del club” y “Cola de León” (frente a los bomberos)<br><br> 
Teléfono:                      (505) 2276 2437<br><br> 
Capillas:           Divina Misericordia, San Judas Tadeo (en construcción), Nuestra Señora de Cuapa (no hay capilla), Espíritu Santo (no hay capilla).<br><br> 
Sectores:          Residencial Las Colinas, Bo. Los Cuaresma, Bo. Naciones Unidas, Francisco Salazar, Augusto César Sandino.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
        
          <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">JESÚS   DE    LA    DIVINA    MISERICORDIA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Raúl Antonio Zamora.
Vicario:                         P. Erick Alvarado Cole
Dirección:                    Villa Fontana, Semáforo del Club Terraza 2c. al oeste.
Teléfono:                      (505) 2270 6997
Web:
Capillas:           Sagrado Corazón de Jesús, Divino Niño y Madre de la Divina Misericordia.
Sectores:          Villa Fontana, Villas Italianas, Residencias Camino Colegio Centroamérica, Colonia Miguel Bonilla , Comarcas Jocote Dulce , las Viudas, Aurora, Los Ladinos y Las Cumbres.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
  
          <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">JESÚS    SACRAMENTADO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:           P. Rafael de la Concepción Moreno Cuadra.<br><br> 
Dirección:                    Semáforos de la Róbelo 5c. al norte, Colonia Pedro Joaquin Chamorro.<br><br> 
Teléfono:                      (505) 2248 4204<br><br> 
Web:<br><br> 
Sectores:          Bo. Riguerito y Col. Pedro Joaquín Chamorro<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
        
         <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">LA ASUNCION DE MARIA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Juan de Dios Gómez<br><br> 
Dirección:        De la Shell de Ciudad Jardín 1c. al oeste,½ al sur.  Frente a Careoca.<br><br> 
Teléfono:                      (505) 2240 1468<br><br> 
Web:<br><br> 
Sectores:                      Cuidad Jardín.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
        
         <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">MARIA   AUXILIADORA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Oswaldo José Montoya Cortez.<br><br> 
Dirección:        Del Puente de El Paraisito 1c. al E. y 2c. al sur.<br><br> 
Teléfono:                      (505) 2249 3025<br><br> 
Web:<br><br> 
Sectores:          Bo. María Auxiliadora, Zona 1 y 2, Asentamiento Paula Corea.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
  
          <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">NUESTRA   SEÑORA   DE  LA   LUZ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Bernardo Obando Vega.<br><br> 
Dirección:        Barrio La Luz, De la Rotonda de Sto. Domingo, 2c. al sury 2c. al oeste, frente a la cancha de fútbol.<br><br> 
Teléfono:                                 <br><br> 
Web:<br><br> 
Sectores:          Bo. La Luz, sector norte de colonial Los Robles que divide la calle Cardenal Miguel Obando Bravo.<br><br> 

.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
        
         <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">NUESTRA   SEÑORA   DE   LA   MERCED</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Carlos Antonio Castro G. (Vicario Foráneo).<br><br> 
Dirección:        Puente Larreynaga 3c. al oeste, 1 ½ c. al sur, Bo. Larreynaga.<br><br> 
Teléfono:                      (505) 2244 0268<br><br> 
Web:     <br><br> 
Sectores:          Col. Tenderí, Bo. Larreynaga.<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
        
        </table>
        
         <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">NUESTRA  SEÑORA  DE  LOURDES</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. José Ángel Lanzas Aguilar.<br><br> 
Dirección:        Bo. La Fuente, entrada principal 5c. al sur, 2c. al este.<br><br> 
Teléfono:                      (505) 2248 4535<br><br> 
Web:<br><br> 
Sectores:          Bo. La Fuente, Bo. 18 de mayo, Bo. Walter Ferrety, Bo. Adolfo Reyes (Urbina) y  Olof  Palme.<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>
    
    </table>
        
         <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">NUESTRA   SEÑORA   DEL   CARMEN</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Alonso de Jesús García Uriarte<br><br>
Vicarios:                      P. Buenaventura Lagos<br><br>
                               P. Grosvin Concepción<br><br>
Dirección:        De la Casa del Obrero, 2c. al oeste y ½ al sur, Calle Colón, Apdo. 3076<br><br>
Teléfono:                      (505) 2268 6010                 Fax:     2268 1214<br><br>
Sectores:                   Reparto El Carmen y Bo. El Boer.<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

 <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">NUESTRA  SEÑORA  DEL ROSARIO DE  FATIMA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       Fray José Lemus Aguilar  <br><br>                         
Vicario:                        Fray Roberto Fernández Bermúdez<br><br>
Fray Carlos Alberto Tórrez     <br><br>
Dirección:        Colonia Centro América, Centro Comercial Managua, 2c. al sur.<br><br>
Teléfono:          (505) 2278 4152 (oficina parroquial)<br><br>
(505) 2270 2808 (casa cural)<br><br>
Capillas:           Nuestra Señora Perpetuo Socorro, Sagrada familia, Nuestra Señora de la Victoria, Divino Niño, Nuestra Señora Guadalupe.<br><br>
Sectores:          Col. Centro América, Bo. Gremada, Bo. 22 de enero, Bo. Santos López, La Morita, Bosques de Altamira, Héroes y Mártires de Fantasma,  sector Lomas del Valle.

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

 <table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SAGRADA    FAMILIA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Lester Martin Zelaya Medina.<br><br> 
Dirección:        Clínica Santa María 2 c. al sur, 1 ½ c. al oeste, Bo. San José Oriental.<br><br> 
Teléfono:                      (505) 2249 7460<br><br> 
Web:<br><br> 
Capillas:           Santa Lucia, Bo. Paraisito.<br><br> 
Sectores:          Bo. San José Oriental, Bo. Santa Lucía, Bo. El Paraisito, parte de Cuidad Jardín, parte de Campo Bruss<br><br> 

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SAN   AGUSTIN</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       Mons. Benito Pittito La Bella<br><br> 
Vicario:                        P. Francisco Carrión Carrillo<br><br>
P. Juan José Ortíz<br><br> 
Dirección         Altamira D’Este.  De la Distribuidora Vicky, 1 ½ c. Oeste (frente al Restaurante María Bonita).<br><br> 
Teléfono:                      (505) 2277 2897                 Fax: 2270 7910<br><br> 
Web:<br><br> 
Sectores:          Altamira D’Este, Planes de Altamira 2 y Colonial Los Robles, Bo. 14 de Junio.<br><br> 

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SAN   CRISTOBAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Alfredo García<br><br> 
Dirección:        Bo. San Cristóbal, de los semáforos del Dorado, 1c. al Sur ½ c. al Este.<br><br> 
Teléfono:<br><br> 
Web:<br><br> 
Sectores:          Bo. San Cristóbal y zona norte de residencial El Dorado.<br><br> 

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SAN   FRANCISCO   DE   ASIS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       Mons. Miguel Agustín Mantica<br><br> 
Vicarios:                      P. Juan Carlos Sánchez<br><br> 
                                        P. Erick Granera<br><br> 
Dirección:        Mansión Teodolinda 2 ½ c. al oeste y ½ al sur (del Canal 10, 2c. al Oeste y ½ c. al Sur.  Fte. a la Posada del Ángel).<br><br> 
Teléfono:                      (505) 2268 2960<br><br> 
Capillas:                       Dulce Nombre de María<br><br> 
Sectores:          Bolonia, La Perla, Bolonia No. 2, Bo. Jonathan González, Bo. 380.<br><br> 

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SAN   JUAN   BOSCO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Mario Fajardo Santos<br><br> 
Vicario:                        P. Mario Alberto Rodríguez<br><br> 
Dirección:        Apdo. 1266, Villa Don Bosco.<br><br> 
Teléfono:                      (505) 2244 3951, 2249 7202        Fax: 2249 4170<br><br> 
Web:<br><br> 
Sectores:          Col. 10 de Junio, Colonia El Dorado, Colonia Carlos Fonseca, Colonia Farabundo Martí, Colonia Nicarao, Reparto Santa Julia, Residencial Colombia, Villa Don Bosco, Bo. Mártires de Xiloá, Reparto Aguilar, Mercado Huembés, Reparto Habana.<br><br> 

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SAN   LUIS   GONZAGA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. José Ildefonso Vargas Velázquez.<br><br>
Vicario:                          P.  Jonás Augusto Rivera<br><br>
Dirección:        Bo. San Luis.  Del Edificio Armando Guido, 1c. al Sur. ½ al Norte.<br><br>
Teléfono:          (505) 2244 3364 (oficina parroquial)<br><br>
(505) 2249 3498  (casa cura)<br><br>
Capillas:           Nuestra Señora de Guadalupe, San Francisco de Asís.<br><br>
Sectores:          Bo. San Luis Norte y Sur, Complejo Central de Policía, Bo. Las Torres, Hilario Sánchez.<br><br> 

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SAN  NICOLAS   DE   TOLENTINO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Eyleen Diesthers Castro Rodríguez.  <br><br>                    
Vicario:                       <br><br> 
Dirección:        Bo. Campo Bruce, Del Colegio Cristo Rey 3c. al Norte, 3 ½ c. al Este, contiguo Colegio Agustiniano.<br><br> 
Teléfono:          (505) 2249 3249 (casa cural)<br><br> 
(505) 2240 0829 (oficina parroquial)<br><br> 
Web:                                      <br><br> 
Sectores:          Bo. Rigoberto López Pérez (antes Campo Bruce),Colonia Managua, Bo. Enrique Smith, Bo. Oscar Turcios.<br><br> 

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SANTA MARÍA DE  LOS  ANGELES</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       Fray Silvio Josué Romero Juárez. <br><br>
Vicario:                        Fray Marvín Guillén<br><br>
Dirección:        De la escuela Alfonso Velásquez Flores, en la Colonia Máximo Jerez, 3c. al Norte. Bo. Riguero.<br><br>
Teléfono:          (505) 2252 5197<br><br>
Web:<br><br>
Sectores:          Bo. Riguero, Col. Máximo Jerez, Bo. Liberia, Bo. México, Bo. Isaías Gómez, La Habana y Revolución.<br><br> 

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SANTA MARTA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Dionisio Quintanilla Zeas <br><br>
Dirección:        Frente a Recreativo Motastepe, Reparto San Juan.<br><br>
Teléfono:                      (505) 2278 4957<br><br>
Sectores:          Reparto San Juan, Los Robles, Lomas de Guadalupe, Lomas de San Juan, Planes de Altamira 1 y 3, Reparto Tiscapa,  Bel Air, Lomas de Monserrat, Lomas de San Angel, Reparto Santa Fe, Bo. Edgard Munguía y anexo, Bo. Casimiro Sotelo .<br><br> 

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SANTÍSIMO REDENTOR</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Guillermo Manuel Hernández.<br><br> 
Vicario:                        P. Walter Hidalgo.<br><br> 
Dirección:        Bo. 19 de Julio. Contiguo a la DGI, frente al Supermercado “Palí”.<br><br> 
Teléfono:          (505) 2250 9810 (oficina)<br><br> 
(505) 2250 9805 (casa)        Apdo. T-27<br><br> 
Web:<br><br> 
Sectores:         Bo. El Redentor, 19 de julio, Sajonia,    Largaespada,  Francisco Meza y Bo. Buenos Aires.<br><br>  

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SANTO   CRISTO   DE    ESQUIPULAS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Héctor Treminio.<br><br> 
Vicario:                        P. Omar Aragón Cárdenas.<br><br> 
Dirección:        Km. 11 ½ Carretera a Masaya, 300 mts. al este, Esquipulas.<br><br> 
Teléfono:                      (505) 2279 8242<br><br> 
Web:                              www.facebook.com/psantocristo.deesquipulasmga<br><br> 
Sectores:          Esquipulas,  Los Vanegas, El Tambo, Las Praderas, Villas del Prado, Campo Bello.<br><br>  

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SANTO    DOMINGO      (LAS SIERRITAS)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:           P. Boanerges Carballo. <br><br>  
Vicario:            P. Julio César Cerda. <br><br>  
                            P. Ricardo Zambrana <br><br>  
Dirección:        Las Sierritas de Sto. Domingo. <br><br>  
Teléfono:                      (505) 2276 1818 (oficina) <br><br>  
(505) 2276 1042 (casa cural) <br><br>  
Web:      <br><br>  
Sectores:          La Estancia, Los Altos de Sto. Domingo, San Isidro, La Cruz Verde, Los Membreños, La Cruz del Paraíso, El Progreso, San Antonio Sur, El Cielo, Los Morales, La Hollada, El Mirador, y Guadalupe.         <br><br>  

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

<table class="responsive-table ">
        <thead>
          <tr>
              <th data-field="id">SANTO DOMINGO    (MANAGUA)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>
Párroco:                       P. Virgilio Abdiel Suira Sovenis.<br><br>  
Dirección:        Bo. Santo Domingo, Contigüo sur al Inst. Loyola.<br><br>  
Teléfono:                      (505) 2222 7067     Apdo. 2419<br><br>  
Sectores:          Carlos Reyna, 19 de Julio, Candelaria, Ruben Dario, Parte Este (Mercado Oriental) Parte Oeste (Casa del Pueblo).<br><br>  

<br><br> 
.<br><br> 
</p></td><br><br>            
          </tr>  
        </tbody>
      </table>

    </div>  
</div>
{% endblock %}