{% extends "ecclesi/layout.html" %}

{% block body %}
<div id="formulario">
    <div class="nav-wrapper" id="registro-nav"></div>
    <div style="margin-top: 50px"></div>
    <div class="row">

        <div class="col s12 m12 l3"> <!-- Note that "m4 l3" was added -->
            <!-- Grey navigation panel -->
            <ul class="tabs" id="tabs">
                <li class="tab tabtive" style="width: 25%;"><a href="#tab1">Templo</a></li>
                <li class="tab" style="width: 25%;"><a href="#tab2">Editar Templo</a></li>
                <li class="tab" style="width: 25%;"><a href="#tab5">Actividades</a></li>
                <li class="tab" style="width: 25%;"><a href="#tab6">Noticias</a></li>

                <!-- li class="tab"><a href="#test3">Horarios de Confesion</a></li>
                <li class="tab"><a href="#test4">Evento</a></li -->
            </ul>
        </div>

        <div id="tab1" class="col s12 m12 l9 panel-ecclesi">
            <!-- Templo -->
            <div style="padding: 40px;">
                <div class="col s12 m12 l6">
                    <h5>Templo <small>{{templo.categoria.tipo}}</small></h5>
                    <div class="divider"></div>
                    <div class="input-field">
                        <p class="no_edit">{{templo.nombre}}</p>
                        <label class="active">Nombre:</label>
                    </div>
                    <div class="input-field">
                        <p class="no_edit">{{templo.nombre_popular}}</p>
                        <label class="active">Nombre popular:</label>
                    </div>
                    <div class="input-field">
                        <p class="no_edit">{{templo.direccion}}</p>
                        <label class="active">Dirección:</label>
                    </div>
                   <div class="input-field">
                        <p class="no_edit">{{templo.telefono}}</p>
                        <label class="active">Telefono:</label>
                    </div>
                    {% if templo.historia %}
                    <div class="input-field">
                        <p class="no_edit">{{templo.historia}}</p>
                        <label class="active">Historia:</label>
                    </div>
                    {% endif %}

                    {% if templo.nombre_institucion %}
                    <div class="input-field">
                        <p class="no_edit">{{templo.nombre_institucion}}</p>
                        <label class="active">Nombre Institucion:</label>
                    </div>
                    {% endif %}
                    <h5>Zona Parroquial</h5>
                    <div class="divider"></div>
                    <div class="input-field">
                        <p class="no_edit">{{templo.zona_parroquial.nombre}}</p>
                        <label class="active">Zona Parroquial:</label>
                    </div>
                    <h5>Municipio</h5>
                    <div class="divider"></div>
                    <div class="input-field">
                        <p class="no_edit">{{templo.nombre}}</p>
                        <label class="active">Municipio:</label>
                    </div>
                </div>
                <div class="col s12 m12 l6">
                    <h5>Imagen Portada</h5>
                    <div class="divider"></div>
                    <div class="input-field">
                        <img width="420" src="{{ url_for('static', filename='img/' + templo.portada ) }}">
                    </div>
                </div>
            </div>
        </div>

        <div id="tab2" class="col s12 m12 l9 panel-ecclesi">
            <!-- Templo -->
            <div style="padding: 40px;">
                <form id="templo_form" action="{{ url_for('ecclesi.editar_templo') }}" method="POST">
                    <div class="col s12 m12 l6">
                        <input name="id_templo" id="id_templo" value="{{templo.id_templo}}" type="text" class="hide">
                        <input name="id_zona_parroquial" id="id_zona_parroquial" value="{{templo.zona_parroquial.id_zona_parroquial}}" type="text" class="hide">
                        <input name="portada" id="portada" value="{{templo.portada}}" type="text" class="hide">
                        <input name="galeria" id="galeria" value="{{templo.id_galeria}}" type="text" class="hide">
                        <input name="servicio_religioso" id="servicio_religioso" value="{{templo.id_servicio_religioso}}" type="text" class="hide">
                        <h5>Templo</h5>
                        <div class="divider"></div>
                        <div class="input-field">
                            <input name="nombre" value="{{templo.nombre}}" id="nombre" type="text" class="validate">
                            <label for="nombre">Nombre:</label>
                        </div>
                        <div class="input-field">
                            <input name="nombre_popular" value="{{templo.nombre_popular}}" id="nombre_popular" type="text" class="validate">
                            <label for="nombre_popular">Nombre popular:</label>
                        </div>
                        <div class="input-field">
                            <select name="categoria" id="categoria">
                                {% for item in categoria %}
                                <option value="{{item.id_categoria}}" {%if item.id_categoria == templo.id_categoria%} selected {%endif%}>{{item.tipo}}</option>
                                {% endfor %}
                            </select>
                            <label for="categoria">Categoria:</label>
                        </div>
                        <div class="input-field">
                            <input name="direccion" value="{{templo.direccion}}" id="direccion" type="text" class="validate">
                            <label for="direccion">Dirección:</label>
                        </div>
                       <div class="input-field">
                           <input name="telefono" value="{{templo.telefono}}" id="telefono" type="text" class="validate">
                            <label for="telefono">Telefono:</label>
                        </div>
                        <div class="input-field">
                            <input name="historia" value="{{templo.historia}}" id="historia" type="text" class="validate">
                            <p class="no_edit"></p>
                            <label for="historia">Historia:</label>
                        </div>

                        <div class="input-field">
                            <input name="institucion" value="{{templo.nombre_institucion}}" id="institucion" type="text" class="validate">
                            <label for="institucion">Nombre Institucion:</label>
                        </div>

                        <h5>Zona Parroquial</h5>
                        <div class="divider"></div>
                        <div class="input-field">
                            <input name="zona_parroquial" value="{{templo.zona_parroquial.nombre}}" id="zona_parroquial" type="text" class="validate">
                            <label for="zona_parroquial">Zona Parroquial:</label>
                        </div>

                        <h5>Municipio</h5>
                        <div class="divider"></div>
                        <div class="input-field">
                            <select name="municipio" id="municipio">
                                {% for item in municipio %}
                                <option value="{{item.id_municipio}}" {%if item.id_municipio == templo.id_municipio%} selected {%endif%}>{{item.nombre}}</option>
                                {% endfor %}
                            </select>
                            <label for="municipio">Municipio:</label>
                        </div>

                        <div class="section">
                            <div class="input-field">
                                <button class="btn waves-effect waves-light" id="action_templo">
                                    Actualizar
                                    <i class="material-icons right">done</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="col s12 m12 l6">
                    <h5>Imagen Portada</h5>
                    <div class="divider"></div>
                    <div class="input-field">
                        <img width="420" src="{{ url_for('static', filename='img/' + templo.portada ) }}">
                    </div>
                </div>
            </div>
        </div>

        <div id="tab5" class="col s12 m12 l9 panel-ecclesi">
            <!-- Teal page content -->
            <div style="padding: 40px;">
                <form id="actividad_form" action="{{ url_for('ecclesi.actividad_nueva') }}" method="POST">
                    <div class="col s12 m12 l6">
                        <input name="id_templo" id="id_templo_noticia" value="{{templo.id_templo}}" type="text" class="hide">
                        <div class="input-field">
                            <select name="id_tipo_actividad" id="id_tipo_actividad">
                                {% for item in tipo_actividad %}
                                <option value="{{item.id_tipo_actividad}}" {%if item.id_tipo_actividad == actividad.id_tipo_actividad%} selected {%endif%}>{{item.tipo}}</option>
                                {% endfor %}
                            </select>
                            <label for="id_tipo_actividad">Tipo</label>
                        </div>
                        <div class="input-field">
                            <input name="nombre" value="" id="nombre" type="text" class="validate">
                            <label class="active" for="nombre">Nombre</label>
                        </div>
                        <div class="input-field">
                            <input name="dia" value="" id="dia" type="text" class="validate">
                            <label class="active" for="dia">Dia</label>
                        </div>
                        <div class="input-field">
                            <input name="hora" value="" id="hora" type="text" class="validate">
                            <label class="active" for="hora">Hora</label>
                        </div>
                        <div class="input-field">
                            <input name="descripcion" value="" id="descripcion" type="text" class="validate">
                            <label class="active" for="descripcion">Descripcion</label>
                        </div>
                        <div class="section">
                            <div class="input-field">
                                <button class="btn waves-effect waves-light" id="action_actividad">Agregar
                                  <i class="material-icons right">done</i>
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        <div id="tab6" class="col s12 m12 l9 panel-ecclesi"> <!-- Note that "m8 l9" was added -->
            <!-- Teal page content -->
            <div style="padding: 40px;">
                <form id="noticia_form" action="{{ url_for('ecclesi.noticia_nueva') }}" method="POST">
                    <div class="col s12 m12 l6">
                        <input name="id_templo" id="id_templo" value="{{templo.id_templo}}" type="text" class="hide">
                        <div class="section">
                            <div class="input-field">
                                <input name="titulo" id="titulo" type="text" class="validate">
                                <label class="active" for="titulo">Titulo</label>
                            </div>
                            <div class="input-field">
                                <textarea id="noticia" name="noticia" class="materialize-textarea"></textarea>
                                <label class="active" for="noticia">Descripcion</label>
                            </div>
                            <div class="input-field">
                                <a id="action_noticia" class="btn waves-effect waves-light">Agregar</a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<style> body { background-color: #6F8A91; } </style>

{% endblock %}
