{% extends "curia/layout.html" %}
{% block body %}
<div class='container'>
    <div class="row">
      
        
        <div class="col s12 m12">
            <p class="caption">
   <h3>Consejo de Gobierno</h3><br><br>
El Colegio de Consultores esta conformado por:

Su Excelencia Monseñor Silvio José Báez, Obispo Auxiliar y Vicario General<br><br>
Monseñor Carlos Avilés Cantón, Vicario Episcopal<br><br>
Presbítero Boanerges Carballo Madrigal, Vicario Episcopal de Pastoral<br><br>
Presbítero Rodolfo Paisano, Rector del Seminario Mayor Arquidiocesano La Purísima<br><br>
Presbítero Antonio Castro Granados, Vicario Foráneo de la Zona Pastoral Central de Managua<br><br>
Presbítero Juan de Dios García, Vicario Foráneo de la Zona Pastoral de Carazo<br><br>
Presbítero Camilo Diaz, Rector del Santuario Mariano Nuestra Señora de Lourdes<br><br>
    </div>
        
     
    </div>  
</div>
{% endblock %}