{% extends "curia/layout.html" %}
{% block body %}
<div class='container'>
    <div class="row">
    <h3>Miembros Natos</h3>
        <table class="responsive-table centered">
        <thead>
          <tr>
              <th data-field="id">No</th>
              <th data-field="name">Estatus</th>
              <th data-field="price">Nombre</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>01</td>
            <td>Arzobispo</td>
            <td>Mons. Leopoldo José Brenes Solórzano</td>
          </tr>
          <tr>
            <td>02</td>
            <td>Obispo Auxiliar-Vicario General</td>
            <td>Mons. Silvio José Báez</td>
          </tr>
          <tr>
            <td>03</td>
            <td>Vicario Episcopal</td>
            <td>Mons. Carlos Avilés Cantón</td>
          </tr>
             <tr>
            <td>04</td>
            <td>Vicario Episcopal de Pastoral</td>
            <td>Padre Boanerges Carballo</td>
          </tr>
             <tr>
            <td>05</td>
            <td>Vicario Foráneo Carazo</td>
            <td>Padre Juan de Dios García</td>
          </tr>
             <tr>
            <td>06</td>
            <td>Vicario Foráneo Masaya</td>
            <td>Padre Bismarck Conde</td>
          </tr>
             <tr>
            <td>07</td>
            <td>Vicario Foráneo Z-Oriental</td>
            <td>Padre Julio de los Santos Dávila</td>
          </tr>
             <tr>
            <td>08</td>
            <td>Vicario Foráneo Z-Central</td>
            <td>Padre Antonio Castro Granados</td>
          </tr>
             <tr>
            <td>09</td>
            <td>Vicario Foráneo Z-Occidental</td>
            <td>Padre Gonzalo Rodríguez</td>
          </tr>
              <tr>
            <td>10</td>
            <td>Delegado Zona de Masaya</td>
            <td>Pbro.  Javier Solís</td>
          </tr>
             <td>11</td>
            <td>Delegado Zona de Masaya</td>
            <td>Pbro.  Edwin Román</td>
          </tr>
         <td>12</td>
            <td>Delegado Zona de Carazo</td>
            <td>Pbro.  José Ramón Alemán</td>
          </tr>
        <td>13</td>
            <td>Delegado Zona de Carazo</td>
            <td>Pbro.  Orlando Mendoza</td>
          </tr>
        <td>14</td>
            <td>Delegado Zona Oriental de Managua</td>
            <td>Mons. Bismarck Carballo</td>
          </tr>
        <td>15</td>
            <td>Delegado Zona Oriental de Managua</td>
            <td>Pbro.  Gustavo Zúniga</td>
          </tr>
        <td>16</td>
            <td>Delegado Zona Oriental de Managua</td>
            <td>Pbro.  Emigdio Uriarte</td>
          </tr>
        <td>17</td>
            <td>Delegado Zona Oriental de Managua</td>
            <td>Pbro.  Lester Zelaya</td>
          </tr>
        <td>18</td>
            <td>Delegado Zona Occidental de Managua</td>
            <td>Pbro.  Camilo Díaz</td>
          </tr>
        <td>19</td>
            <td>Delegado Zona Occidental de Managua</td>
            <td>Pbro.  Boanerges Hurtado</td>
          </tr>
        </tbody>
      </table>
<br><br>

<h3>Suplentes al Consejo Presbiteral</h3>
        <table class="responsive-table centered">
        <thead>
          <tr>
              <th data-field="id">No</th>
              <th data-field="name">Estatus</th>
              <th data-field="price">Nombre</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>01</td>
            <td>Zona de Masaya</td>
            <td>Pbro. Hugo Chávez</td>
          </tr>
          <tr>
            <td>02</td>
            <td>Zona de Masaya</td>
            <td>Pbro.  Guillermo Majewsky</td>
          </tr>
          <tr>
            <td>03</td>
            <td>Zona de Carazo</td>
            <td>Pbro.  Edgar Rodríguez</td>
          </tr>
             <tr>
            <td>04</td>
            <td>Zona de Carazo</td>
            <td>Pbro.  Daybis López</td>
          </tr>
             <tr>
            <td>05</td>
            <td>Zona Oriental</td>
            <td>Pbro.  Boanerges Ruiz</td>
          </tr>
             <tr>
            <td>06</td>
            <td>Zona Oriental</td>
            <td>Pbro.  Alvaro Jiménez</td>
          </tr>
             <tr>
            <td>07</td>
            <td>Zona Central</td>
            <td>Pbro.  Milton Tobías</td>
          </tr>
             <tr>
            <td>08</td>
            <td>Zona Central</td>
            <td>Pbro.  Silvio Josue Romero</td>
          </tr>
             <tr>
            <td>09</td>
            <td>Zona Occidental</td>
            <td>Pbro.  Horacio Mátus</td>
          </tr>
              <tr>
            <td>10</td>
            <td>Zona Occidental</td>
            <td>Pbro.  Jairo Velázquez</td>
          </tr>
             
        </tbody>
      </table>
<br><br>
<p>
    <h4>DIRECTIVA DEL CONSEJO PRESBITERAL</h4><br><br>

Presidente: Cardenal Leopoldo José Brenes Solórzano  <br><br> 
Coordinador: Mons. Carlos Avilés Cantón<br><br>
Secretario: Pbro. Camilo Díaz<br><br>
Vicesecretario: Pbro. José Ramón Alemán<br><br>
Ecónomo: Pbro. Rodolfo Hurtado</p>
    </div>  
</div>
{% endblock %}