{% extends "curia/layout.html" %}
{% block body %}
<div id="contenido" class='container'>
    <div class="row">
      
        
        <div class="col s12 m12">
            <p class="caption">
   <h3>Consejo de Gobierno</h3><br><br>


Su Excelencia Monseñor Silvio José Báez, Obispo Auxiliar y Vicario General<br><br>
Monseñor Carlos Avilés Cantón, Vicario Episcopal<br><br>
Presbítero Boanerges Carballo Madrigal, Vicario Episcopal de Pastoral<br><br>
Presbítero Antonio Castro, Vicario Foráneo de la Zona Pastoral Central<br><br>
Presbítero Julio de los Santos Dávila, Vicario Foráneo de la Zona Pastoral Oriental<br><br>
Presbítero Gonzalo Rodríguez Pinell, Vicario Foráneo de la Zona Pastoral Occidental<br><br>
Presbítero Bismarck Conde, Vicario Foráneo de la Zona Pastoral de Masaya<br><br>
Presbítero Juan de Dios García, Vicario Foráneo de la Zona Pastoral de Carazo<br><br>
Presbítero Pablo Villafranca, Canciller de la Curia Arzobispal<br><br>
Próximo a elegir / Secretario de Información y Prensa<br><br>
Presbítero Raúl Zamora, Secretario General<br><br>
Presbítero Héctor Treminio Vega, Administrador y Ecónomo General<br>
    </div>
        
     
    </div>  
</div>
{% endblock %}