{% extends "curia/layout.html" %}
{% block body %}
<div class='container'>
    <div class="row">
      
        
        <div class="col s12 m12">
            <p class="caption">
  Vicario Judicial y Juez: Pbro. Lic. Julio César Arana<br><br>

Juez y Auditor:<br><br>

Juez: <br><br>

Defensor del Vínculo y Promotor de Justicia: Pbro. Lic. Boanerges Carballo.<br><br>

Auditores: Lic. Waleska Aragón y Pbro. Luis Elvir<br><br>

Notario: Pbro. Lic. Hernán Miranda, Pbro. Luis Elvir y Andrés Maya<br><br>

Contacto: (505) 2276-0627<br><br>

Email:tribunaleclesiasticomanagua@gmail.com<br><br>

Código Postal: C-68<br><br>

Dirección: Estamos Ubicados en las sierritas de Santo Domingo, de la Iglesia Católica 400 metros al este, en la Curia Arzobispal de Managua.


    </div>
        
     
    </div>  
</div>
{% endblock %}