{% extends "ecclesi/layout.html" %}
{% block body %}
<div class="slide" id="descarga" data-slide="4" data-stellar-background-ratio="0.5">
    <div class="container-kitten clearfix">
        <div id="content" class="grid_12">
            <p class="center-align" style="font-size: 40px;color: #666666;">Pequeña descripción de la aplicación</p>
            <div class="center-align">
                <a class="waves-effect waves-light btn-large red" style="font-size: 20px;">DESCARGAR</a>
            </div>
        </div>
    </div>
    <div class="pie-seccion">
        <p class="center-align">¿Como funciona EcclesiApp?</p>
    </div>
</div>
{% endblock %}