{% extends "ecclesi/layout.html" %}
{% block body %}
<div class="slide" id="slide1" data-slide="1">
    <div class="container-kitten clearfix">
        <div id="content" class="grid_12">
            <p class="center-align" style="font-size: 40px;color: #666666;">Pequeña descripción de la aplicación</p>
            <div class="center-align">
                <a class="waves-effect waves-light btn-large red" style="font-size: 20px;">DESCARGAR</a>
            </div>
        </div>
    </div>
    <div class="pie-seccion" style="margin-top:200px;">
        <p class="center-align">¿Como funciona EcclesiApp?</p>
    </div>
</div>
<div class="slide" id="slide2" data-slide="2">
    <div class="container-kitten clearfix">
        <div id="content" class="grid_12">
            <div class="center-align">
               
            </div>
        </div>
    </div>
    <div class="pie-seccion" style="margin-top:200px;">
        <p class="center-align">Contactenos!</p>
    </div>
</div>
<div class="slide" id="slide3" data-slide="3">
    <div class="container-kitten clearfix">
        <div id="content" class="grid_12">
            <div class="center-align">
               
            </div>
        </div>
    </div>
    <div class="pie-seccion" style="margin-top:200px;">
        <p class="center-align">Arquidiocesis de Managua - EcclesiApp</p>
    </div>
</div>
{% endblock %}