<!DOCTYPE html>
<title>Ecclesi - Descarga</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/.jpg') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/icon.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/materialize.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/ecclesi.css') }}">
<div class=page>
    <div class="navbar-fixed navbar-ecclesi">
        <nav style="top: 0px;">
            <div class="nav-wrapper">
                <ul class="right hide-on-med-and-down">
                    <!-- a href="#" class="brand-logo"><img src="{{ url_for('static', filename='img/ecclesi.svg') }}"></a -->
                    <li><a class="waves-effect waves-light btn btn-inicio" href="#acceso">Iniciar Sesion</a></li>
                </ul>
            </div>
        </nav>
    </div>
    {% block body %}{% endblock %}
    <!-- footer class="page-footer" id="fcuria">
        <div class="footer-copyright">
            <div class="container center-align">
                Copyright © 2016 Atrquidiocesis de Managua
            </div>
        </div>
    </footer -->
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/ecclesi.js') }}"></script>