
/* Estilos Globales */
body {
    background-color: #ecf0fb;
}

/* Estilos Curia */
#mcuria {
    background-color: #2196f3;
    text-align: center;
}

.vitrina {
    margin: 5px 0;
    background-color: white;
    /*padding: 0;*/
}

#fcuria {
    background-color: #2196f3;
}

nav ul a {
    padding: 0 60px;
}

.dropdown-content {
  min-width: 215px;
}

.text-justify {
    text-align: justify;
}

/* Estilos EcclesiApp */
.navbar-ecclesi {
    height: auto;
}

.navbar-ecclesi nav {
    background-color: transparent;
    box-shadow: 0 0 0 0;
}

.brand-logo {
    margin: 20px 0 0 20px;
}

.btn-inicio {
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow: 0 0 0 0;
}

.btn-inicio:hover {
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    box-shadow: 0 0 0 0;
}

.slide {
    background-attachment: fixed;
    width: 100%;
    height: auto;
    position: relative;
    padding: 180px 0;
}

.container-kitten {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

#slide1 {
    background-image: url(../../../static/img/nica.svg);
    background-color: #ecf0fb;
}

#slide1 .pie-seccion {
    background-color: #06a7ed;
    height: 40px;
    color: #FFFFFF;
}

#slide1 .pie-seccion p {
    padding-top: 5px;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #216778;
}

#slide2 {
   background-color: #afe9af;  
}

#slide2 .pie-seccion {
    background-color: #4caf50;
    height: 40px;
    color: #FFFFFF;
}

#slide2 .pie-seccion p {
    padding-top: 5px;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #53961e;
}

#slide3 {
   background-color: #e5d5ff;  
}

#slide3 .pie-seccion {
    background-color: #4a148c;
    height: 40px;
    color: #FFFFFF;
}

#slide3 .pie-seccion p {
    padding-top: 5px;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #11002b;
}
