{% extends "curia/layout.html" %}
{% block body %}
<div id="contenido" class='container'>
    <div class="row">
        <h3>Miembros Natos</h3>
        <table class="responsive-table centered">
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name">Oficio</th>
              <th data-field="price">Nombre</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>01</td>
            <td>Arzobispo</td>
            <td>Mons. Leopoldo José Brenes Solórzano</td>
          </tr>
          <tr>
            <td>02</td>
            <td>Obispo Auxiliar-Vicario General</td>
            <td>Mons. Silvio José Báez</td>
          </tr>
          <tr>
            <td>03</td>
            <td>Vicario Episcopal</td>
            <td>Mons. Carlos Avilés Cantón</td>
          </tr>
             <tr>
            <td>04</td>
            <td>Vicario Episcopal de Pastoral</td>
            <td>Padre Boanerges Carballo</td>
          </tr>
             <tr>
            <td>05</td>
            <td>Vicario Foráneo Carazo</td>
            <td>Padre Juan de Dios García</td>
          </tr>
             <tr>
            <td>06</td>
            <td>Vicario Foráneo Masaya</td>
            <td>Padre Bismarck Conde</td>
          </tr>
             <tr>
            <td>07</td>
            <td>Vicario Foráneo Z-Oriental</td>
            <td>Padre Julio de los Santos Dávila</td>
          </tr>
             <tr>
            <td>08</td>
            <td>Vicario Foráneo Z-Central</td>
            <td>Padre Antonio Castro Granados</td>
          </tr>
             <tr>
            <td>09</td>
            <td>Vicario Foráneo Z-Occidental</td>
            <td>Padre Gonzalo Rodríguez</td>
          </tr>
        </tbody>
      </table>
        <br><br><br><br>
        
        <h3>Coordinadores Arquidiocesanos de Area Pastoral</h3>

        <table class="responsive-table centered">
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name">Area</th>
              <th data-field="price">Nombre</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>10</td>
            <td>Catequesis</td>
            <td>Padre Genaro Cerda</td>
          </tr>
          <tr>
            <td>11</td>
            <td>Vocaciones</td>
            <td></td>
          </tr>
          <tr>
            <td>12</td>
            <td>Enfermos y Hospitales</td>
            <td>Padre Horacio Matus</td>
          </tr>
             <tr>
            <td>13</td>
            <td>Rural</td>
            <td>Padre José Antonio Espinoza</td>
          </tr>
             <tr>
            <td>14</td>
            <td>Asistencia al Clero</td>
            <td>Padre Ildefonso Vargas</td>
          </tr>
             <tr>
            <td>15</td>
            <td>Juventud</td>
            <td>Padre Herling Hernández</td>
          </tr>
             <tr>
            <td>16</td>
            <td>Medios de Comunicación Social</td>
            <td>Padre Milton Tobias</td>
          </tr>
             <tr>
            <td>17</td>
            <td>Educación</td>
            <td>Padre Eyleen Castro</td>
          </tr>
             <tr>
            <td>18</td>
            <td>Misiones</td>
            <td>Padre Bismarck Conde</td>
          </tr>
            <tr>
            <td>19</td>
            <td>Penitenciaria</td>
            <td></td>
          </tr>
            <tr>
            <td>20</td>
            <td>Laicos</td>
            <td>Mons. Carlos Aviles</td>
          </tr>
            <tr>
            <td>21</td>
            <td>Familia-Vida- NIñez</td>
            <td>Mons. Silvio Fonseca</td>
          </tr>
            <tr>
            <td>22</td>
            <td>Liturgia</td>
            <td>Padre Sergio Hernández</td>
          </tr>
            <tr>
            <td>23</td>
            <td>Cultura-Música-Arte Sacro</td>
            <td>Padre Víctor Rivas</td>
          </tr>
            <tr>
            <td>24</td>
            <td>Pastoral Social-Cáritas</td>
            <td>Padre Luis Alberto Herrera</td>
          </tr>
            <tr>
            <td>25</td>
            <td>Universitaria</td>
            <td>Padre José Luis Montoya</td>
          </tr>
            <tr>
            <td>26</td>
            <td>Vida Consagrada</td>
            <td>Padre Silvio Xavier Martínez</td>
          </tr>
            <tr>
            <td>27</td>
            <td>Ecumenismo</td>
            <td>Padre Hernán Miranda</td>
          </tr>
            <tr>
            <td>28</td>
            <td>Justicia y Paz</td>
            <td>Mons. Carlos Avilés</td>
          </tr>
        </tbody>
      </table>
        <br><br><br><br>
        
         <h3>Secretarios Ejecutivos de Area Pastoral Arquidiocesana</h3>

        <table class="responsive-table centered">
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name">Area</th>
              <th data-field="price">Nombre</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>29</td>
            <td>Catequesis</td>
            <td>María Auxiliadora Velásquez</td>
          </tr>
          <tr>
            <td>30</td>
            <td>Vocaciones</td>
            <td>Erick Alvarado</td>
          </tr>
          <tr>
            <td>31</td>
            <td>Enfermos y Hospitales</td>
            <td>Sor Greylin</td>
          </tr>
             <tr>
            <td>32</td>
            <td>Rural</td>
            <td>Silvio Lacayo</td>
          </tr>
             <tr>
            <td>33</td>
            <td>Asistencia al Clero</td>
            <td>P. Zenón Bojorge</td>
          </tr>
             <tr>
            <td>34</td>
            <td>Juventud</td>
            <td>Arlen Duarte</td>
          </tr>
             <tr>
            <td>35</td>
            <td>Medios de Comunicación Social</td>
            <td>Alfredo Trejos</td>
          </tr>
             <tr>
            <td>36</td>
            <td>Educación</td>
            <td>Félix Mercado y Daniel Méndez</td>
          </tr>
             <tr>
            <td>37</td>
            <td>Misiones</td>
            <td>César Zepeda y María José Aguilera</td>
          </tr>
            <tr>
            <td>38</td>
            <td>Penitenciaria</td>
            <td></td>
          </tr>
            <tr>
            <td>39</td>
            <td>Laicos</td>
            <td>Ana Patricia Galo</td>
          </tr>
            <tr>
            <td>40</td>
            <td>Familia-Vida-Niñez</td>
            <td>Carlos Sánchez y Claudia Sánchez</td>
          </tr>
            <tr>
            <td>41</td>
            <td>Liturgia</td>
            <td>Roberto Navarro</td>
          </tr>
            <tr>
            <td>42</td>
            <td>Cultura-Música-Arte Sacro</td>
            <td>Ana Medina</td>
          </tr>
            <tr>
            <td>43</td>
            <td>Pastoral Social-Cáritas</td>
            <td>Johanna Estrada</td>
          </tr>
            <tr>
            <td>44</td>
            <td>Universitaria</td>
            <td></td>
          </tr>
            <tr>
            <td>45</td>
            <td>Vida Consagrada</td>
            <td></td>
          </tr>
            <tr>
            <td>46</td>
            <td>Ecumenismo</td>
            <td></td>
          </tr>
            <tr>
            <td>47</td>
            <td>Justicia y Paz</td>
            <td>Dr. Adolfo Miranda</td>
          </tr>          
        </tbody>
      </table>
  <br><br><br><br>
 


<h3>Laicos representantes de cada   Zona Pastoral</h3>
<table class="responsive-table centered">
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name">Zona Pastoral</th>
              <th data-field="price">Nombre</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>48</td>
            <td>Zona pastoral de Carazo</td>
            <td>Marlene del Socorro Cruz Espinoza</td>
          </tr>
          <tr>
            <td>49</td>
            <td>Zona Pastoral de Carazo</td>
            <td>Liliana Brenes</td>
          </tr>
          <tr>
            <td>50</td>
            <td>Zona Pastoral de Masaya</td>
            <td>Eduardo José García Gaitán</td>
          </tr>
             <tr>
            <td>51</td>
            <td>Zona Pastoral de Masaya</td>
            <td>Juan Manuel Muñoz Muñiz</td>
          </tr>
             <tr>
            <td>52</td>
            <td>Zona Pastoral Oriental</td>
            <td>Ester del Carmen Ibarra</td>
          </tr>
             <tr>
            <td>53</td>
            <td>Zona Pastoral Oriental</td>
            <td>María Alicia Duarte Bojorge</td>
          </tr>
             <tr>
            <td>54</td>
            <td>Zona Pastoral Central</td>
            <td>Ana Patricia Galo</td>
          </tr>
             <tr>
            <td>55</td>
            <td>Zona Pastoral Central</td>
            <td>Julio Conrado</td>
          </tr>
             <tr>
            <td>56</td>
            <td>Zona Pastoral Occidental</td>
            <td>Nubia Salgado Pastora</td>
          </tr>
             <tr>
            <td>57</td>
            <td>Zona Pastoral Occidental</td>
            <td>Manuel Aburto</td>
          </tr>
        </tbody>
      </table>
        <br><br><br><br>

<h3>Miembros de los Institutos de Vida Consagrada</h3>
<table class="responsive-table centered">
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name">Instituto</th>
              <th data-field="price">Nombre</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>58</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>59</td>
            <td></td>
            <td></td>
          </tr>
         
        </tbody>
      </table>
        <br><br><br><br>

<h3>Laicos de los Movimientos Apostólicos</h3>
<table class="responsive-table centered">
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name">Movimientos Apostólicos</th>
              <th data-field="price">Nombre</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>60</td>
            <td>Cursillos de Cristiandad</td>
            <td>Julio Conrado</td>
          </tr>
          <tr>
            <td>61</td>
            <td>Renovación Carismática</td>
            <td>Edwin Sánchez</td>
          </tr>
            <tr>
            <td>62</td>
            <td>Camino Neocatecumenal</td>
            <td>Ermidio Nicaragua</td>
          </tr>
         
        </tbody>
      </table>
        <br><br><br><br>
      <h3>Miembros de Libre designación por el Arzobispo</h3>
<table class="responsive-table centered">
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name">Oficio</th>
              <th data-field="price">Nombre</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>63</td>
            <td>Canciller de la Curia Arzobispal</td>
            <td>Padre Pablo Villafranca</td>
          </tr>
          <tr>
            <td>64</td>
            <td>Ecónomo de la Curia Arzobispal</td>
            <td>Padre Héctor Treminio</td>
          </tr>
         <tr>
            <td>65</td>
            <td>Asesor Jurídico</td>
            <td>Dra. María Eugenia Estrada</td>
          </tr>
        </tbody>
      </table>  
        
               
        
     </div>  
</div>
{% endblock %}